@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
    
}

.navbar-brand{
    font-weight: bold;
    font-size: 24px;
    
}

.nav-item{
    font-size: 16px;
    font-weight: 400;
    
}
.yolla{
    color: #1E0E62 !important;
}

.youra{
    color: #482BE7 !important;
}
.nav-btn2{
    padding: 7px 24px;
    background: #482BE7;
    border-radius: 100px;
    color: white;
    outline: none;
    border: 0;
    box-shadow: none;
}

.head-item{
    color: #1E0E62;
    margin-top: 10%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 58px;
    font-style: bold;
    text-align: left;
    vertical-align: top;

}
.head-p{
    font-style: medium;
    font-size: 22px;
    text-align: left;
    vertical-align: top;
    color: rgba(21, 20, 57, 0.4);
}
.san-btn{
    background: #25DAC5;
    border: 0;
    border-radius: 100px;
    color: #fff;
    padding: 12px 27px;
}

.san-btn-11{
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 12px 35px;
    color: #1E0E62;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    
}

.head-img{
    width: 100%;git
    margin-top: 5%;
    height: 80vh;

}
@media screen and (max-width: 650px){
    .head-img{
        margin-top: 10%;
        width: 90%;
    }
    
}
.cross{
    display: flex;
    margin-left: 60%;
}




